server.port: 7000
server.error.include-message: always

spring.application.name: book-composite

app.eureka-server: localhost

app:
  eureka-username: test
  eureka-password: test

eureka:
  client:
    serviceUrl:
      defaultZone: "http://${app.eureka-username}:${app.eureka-password}@${app.eureka-server}:8761/eureka/"

spring.security.oauth2.resourceserver.jwt.issuer-uri: http://${app.auth-server}:9999

spring.cloud.stream:
  defaultBinder: rabbit
  default.contentType: application/json
  bindings:
    books-out-0:
      destination: books
      producer:
        required-groups: auditGroup
    comments-out-0:
      destination: comments
      producer:
        required-groups: auditGroup
    readers-out-0:
      destination: readers
      producer:
        required-groups: auditGroup
    rates-out-0:
      destination: rates
      producer:
        required-groups: auditGroup

spring.cloud.stream.kafka.binder:
  brokers: 127.0.0.1
  defaultBrokerPort: 9092

spring.rabbitmq:
  host: 127.0.0.1
  port: 5672
  username: guest
  password: guest

logging:
  level:
    root: INFO
    se.magnus: DEBUG

management.endpoint.health.show-details: "ALWAYS"
management.endpoints.web.exposure.include: "*"
---
spring.config.activate.on-profile: docker

server.port: 8080

app:
  eureka-server: eureka
  auth-server: auth-server

spring.rabbitmq.host: rabbitmq

spring.cloud.stream.kafka.binder.brokers: kafka

---
spring.config.activate.on-profile: streaming_partitioned

spring.cloud.stream.bindings.books-out-0.producer:
  partition-key-expression: headers['partitionKey']
  partition-count: 2

spring.cloud.stream.bindings.comments-out-0.producer:
  partition-key-expression: headers['partitionKey']
  partition-count: 2

spring.cloud.stream.bindings.readers-out-0.producer:
  partition-key-expression: headers['partitionKey']
  partition-count: 2

spring.cloud.stream.bindings.rates-out-0.producer:
  partition-key-expression: headers['partitionKey']
  partition-count: 2

---
spring.config.activate.on-profile: kafka

management.health.rabbit.enabled: false
spring.cloud.stream.defaultBinder: kafka
spring.kafka.bootstrap-servers: kafka:9092
spring.cloud.stream.kafka.binder.replication-factor: 1
